/* CSS Document */

body {
	margin: 2em auto;
	width: 95%;
	background: url(/images/blue_orchid_opt.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
	
#wrapper {
	width: 70%;
	margin: 0 auto;
	background: #fff;
	padding: 1em;
}

header h1 {
	text-align: center;
	border-bottom: 1px solid #000154;
}

section {
	background: #98ccfc;
	padding: .5em 2em 3em;
	margin-top: 1em;
	min-height: 300px;
	text-align: center;
}

.errormessage {
	color: #bb9e3e;
	font-weight: bold;
}

footer {
	position: relative;
	font-size: 75%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}

.foot-col {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1em;
	position: relative;
	min-width: 250px;
	text-align: center;
}

.foot-col p {
	text-transform: uppercase;
}

.descr {
	margin-bottom: 3em;
}

.linker {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 2em;
}

.actionbutton {
	white-space: nowrap;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	font-family: Arial;
	color: #ffffff;
	font-size: 120%;
	padding: .75em 1.25em .75em 1.25em;
	text-decoration: none;
	position: relative;
	top: 1em;
}

.actionbutton:hover {
	background: #3cb0fd;
	color: #ddce9e;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	position: relative;
	top: 1em;
}

